In [73]:
from methods.model_data import StGallen
import statsmodels.api as sm
import seaborn as sns
from methods.preprocess import DataProcessor
import plotly.express as px
import matplotlib.pyplot as plt
import pandas as pd
import plotly.graph_objs as go

In [5]:
data_file = 'data/weekly.csv'

In [6]:
df = pd.read_csv(data_file, sep = ';')

/home/denis/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (36,38,42,43,44,45,46,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df

,surveyId,userId,cId,oNo,plz,dropout,weeklySms,weeklyEmail,dateOfBirth,gender,...,37,38,39,40,41,42,43,44,45,46
0,5f10e2439806fb0eb6106b25,5ee2dddb2acfc1edcfbbb93a,NaN,NaN,NaN,Nein,Ja,Ja,NaN,NaN,...,False,False,False,False,Nein,NaN,NaN,Nein,NaN,NaN
1,5f154b89852139231e2e1eb1,5ee2dddb2acfc1edcfbbb93a,NaN,NaN,NaN,Nein,Ja,Ja,NaN,NaN,...,True,True,True,True,"Ja, mit Mitarbeiter,Ja, mit Patient,Ja, mit Ha...",NaN,NaN,Ja st√§ndig,True,Nein
2,5f1553a9852139231e2ea78d,5ee2dddb2acfc1edcfbbb93a,NaN,NaN,NaN,Nein,Ja,Ja,NaN,NaN,...,False,False,False,False,Nein,NaN,NaN,Nein,NaN,NaN
3,5f1553d0852139231e2ea7aa,5ef089e73164e4917926645c,132.0,KSG0001320622,9000.0,Nein,Ja,Ja,1992-05-26,MALE,...,False,False,False,False,"Ja, mit Patient",NaN,NaN,"Ja, aber manchmal schalte ich sie aus",False,NaN
4,5f155476852139231e2ea7f5,5ef089e73164e4917926645c,132.0,KSG0001320622,9000.0,Nein,Ja,Ja,1992-05-26,MALE,...,False,False,False,False,Nein,False,NaN,Nein,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55797,5fbc2f41f1fbe88925b6aef0,5f042d340ea3f08eb2645eaf,4869.0,KSG0048690707,9323.0,Nein,Ja,Ja,1987-11-08,NOT_SPECIFIED,...,True,True,False,True,Nein,False,NaN,Nein,NaN,Nein
55798,5fbc2fb7f1fbe88925b6af35,5f0483f40ea3f08eb26c2923,5003.0,FSG0050030707,9050.0,Nein,Ja,Ja,1974-10-22,FEMALE,...,False,False,False,False,Nein,False,NaN,Nein,NaN,NaN
55799,5fbc2febf1fbe88925b6afd3,5f16fd59a96e8998204a0157,5577.0,GKS0055770721,9492.0,Nein,Ja,Ja,1989-04-22,FEMALE,...,False,False,False,False,Nein,False,NaN,Nein,NaN,NaN
55800,5fbc2ff0f1fbe88925b6b003,5ef083173164e49179263e5e,102.0,RWG0001020622,6820.0,Nein,Nein,Ja,1963-08-23,FEMALE,...,True,False,False,False,"Ja, mit Mitarbeiter",False,NaN,Nein,NaN,Nein
55801,5fbc30a8f1fbe88925b6b15a,5f885b077860d825c6299a82,6453.0,KSG0064531015,9011.0,Nein,Ja,Ja,1980-03-17,MALE,...,True,False,False,False,Nein,False,NaN,Ja st√§ndig,False,Nein

In [8]:
df.columns

Index(['surveyId', 'userId', 'cId', 'oNo', 'plz', 'dropout', 'weeklySms',
       'weeklyEmail', 'dateOfBirth', 'gender', 'institution', 'date', '1', '2',
       '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',
       '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27',
       '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39',
       '40', '41', '42', '43', '44', '45', '46'],
      dtype='object')

In [9]:
df['date'].unique()

array(['2020-07-16', '2020-07-20', '2020-07-28', '2020-07-29',
       '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
       '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
       '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07',
       '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
       '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19',
       '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
       '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
       '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05',
       '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13',
       '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17',
       '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21',
       '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
       '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
       '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10',
       '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
       '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23'], dtype=object)

In [33]:
preprocessed_df = df.copy()
preprocessed_df['date'] = pd.to_datetime(preprocessed_df['date'])
# preprocessed_df['date'] = pd.to_datetime(preprocessed_df['date']) - pd.to_timedelta(7, unit = 'd')

In [34]:
preprocessed_df['date'].unique()

array(['2020-07-16T00:00:00.000000000', '2020-07-20T00:00:00.000000000',
       '2020-07-28T00:00:00.000000000', '2020-07-29T00:00:00.000000000',
       '2020-08-03T00:00:00.000000000', '2020-08-04T00:00:00.000000000',
       '2020-08-05T00:00:00.000000000', '2020-08-06T00:00:00.000000000',
       '2020-08-07T00:00:00.000000000', '2020-08-08T00:00:00.000000000',
       '2020-08-09T00:00:00.000000000', '2020-08-10T00:00:00.000000000',
       '2020-08-11T00:00:00.000000000', '2020-08-12T00:00:00.000000000',
       '2020-08-13T00:00:00.000000000', '2020-08-14T00:00:00.000000000',
       '2020-08-15T00:00:00.000000000', '2020-08-16T00:00:00.000000000',
       '2020-08-17T00:00:00.000000000', '2020-08-18T00:00:00.000000000',
       '2020-08-19T00:00:00.000000000', '2020-08-20T00:00:00.000000000',
       '2020-08-21T00:00:00.000000000', '2020-08-22T00:00:00.000000000',
       '2020-08-23T00:00:00.000000000', '2020-08-24T00:00:00.000000000',
       '2020-08-25T00:00:00.000000000', '2020-08-26T00:00:00.000000000',
       '2020-08-27T00:00:00.000000000', '2020-08-28T00:00:00.000000000',
       '2020-08-29T00:00:00.000000000', '2020-08-30T00:00:00.000000000',
       '2020-08-31T00:00:00.000000000', '2020-09-01T00:00:00.000000000',
       '2020-09-02T00:00:00.000000000', '2020-09-03T00:00:00.000000000',
       '2020-09-04T00:00:00.000000000', '2020-09-05T00:00:00.000000000',
       '2020-09-06T00:00:00.000000000', '2020-09-07T00:00:00.000000000',
       '2020-09-08T00:00:00.000000000', '2020-09-09T00:00:00.000000000',
       '2020-09-10T00:00:00.000000000', '2020-09-11T00:00:00.000000000',
       '2020-09-12T00:00:00.000000000', '2020-09-13T00:00:00.000000000',
       '2020-09-14T00:00:00.000000000', '2020-09-15T00:00:00.000000000',
       '2020-09-16T00:00:00.000000000', '2020-09-17T00:00:00.000000000',
       '2020-09-18T00:00:00.000000000', '2020-09-19T00:00:00.000000000',
       '2020-09-20T00:00:00.000000000', '2020-09-21T00:00:00.000000000',
       '2020-09-22T00:00:00.000000000', '2020-09-23T00:00:00.000000000',
       '2020-09-24T00:00:00.000000000', '2020-09-25T00:00:00.000000000',
       '2020-09-26T00:00:00.000000000', '2020-09-27T00:00:00.000000000',
       '2020-09-28T00:00:00.000000000', '2020-09-29T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-10-02T00:00:00.000000000', '2020-10-03T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-10-05T00:00:00.000000000',
       '2020-10-06T00:00:00.000000000', '2020-10-07T00:00:00.000000000',
       '2020-10-08T00:00:00.000000000', '2020-10-09T00:00:00.000000000',
       '2020-10-10T00:00:00.000000000', '2020-10-11T00:00:00.000000000',
       '2020-10-12T00:00:00.000000000', '2020-10-13T00:00:00.000000000',
       '2020-10-14T00:00:00.000000000', '2020-10-15T00:00:00.000000000',
       '2020-10-16T00:00:00.000000000', '2020-10-17T00:00:00.000000000',
       '2020-10-18T00:00:00.000000000', '2020-10-19T00:00:00.000000000',
       '2020-10-20T00:00:00.000000000', '2020-10-21T00:00:00.000000000',
       '2020-10-22T00:00:00.000000000', '2020-10-23T00:00:00.000000000',
       '2020-10-24T00:00:00.000000000', '2020-10-25T00:00:00.000000000',
       '2020-10-26T00:00:00.000000000', '2020-10-27T00:00:00.000000000',
       '2020-10-28T00:00:00.000000000', '2020-10-29T00:00:00.000000000',
       '2020-10-30T00:00:00.000000000', '2020-10-31T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2020-11-02T00:00:00.000000000',
       '2020-11-03T00:00:00.000000000', '2020-11-04T00:00:00.000000000',
       '2020-11-05T00:00:00.000000000', '2020-11-06T00:00:00.000000000',
       '2020-11-07T00:00:00.000000000', '2020-11-08T00:00:00.000000000',
       '2020-11-09T00:00:00.000000000', '2020-11-10T00:00:00.000000000',
       '2020-11-11T00:00:00.000000000', '2020-11-12T00:00:00.000000000',
       '2020-11-13T00:00:00.000000000', '2020-11-14T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2020-11-16T00:00:00.000000000',
       '2020-11-17T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2020-11-19T00:00:00.000000000', '2020-11-20T00:00:00.000000000',
       '2020-11-21T00:00:00.000000000', '2020-11-22T00:00:00.000000000',
       '2020-11-23T00:00:00.000000000'], dtype='datetime64[ns]')

In [35]:
preprocessed_df = preprocessed_df[preprocessed_df['date'] >= '2020-08-02']

In [36]:
preprocessed_df.fillna(0, inplace=True)

In [37]:
symp_idx = ['2', '3', '4', '12', '14', '15']

In [38]:
for symp in symp_idx:
    preprocessed_df[symp] = preprocessed_df[symp].astype(int)

In [39]:
preprocessed_df['12'].unique()

array([0, 1])

In [40]:
grouped_df = preprocessed_df.groupby(['userId', pd.Grouper(key='date', freq='W-SUN')])[symp_idx].first().reset_index().sort_values('date')
grouped_df

                         userId       date  2  3  4  12  14  15
0      5ee2dddb2acfc1edcfbbb93a 2020-08-09  0  0  0   0   0   0
18743  5ef4cb4aee64c7deca5b8d7d 2020-08-09  0  0  0   0   0   0
25727  5ef9d95a349901f48bf8d6c6 2020-08-09  0  0  0   0   0   0
33050  5efce61a349901f48b0688e5 2020-08-09  0  0  0   0   0   0
38685  5f02f8270ea3f08eb25cb17f 2020-08-09  0  0  0   0   0   0
...                         ...        ... .. .. ..  ..  ..  ..
41464  5f05616e0ea3f08eb26e50ec 2020-11-29  0  0  0   0   0   0
6317   5ef1b632ee64c7deca4f432c 2020-11-29  0  0  0   0   0   0
24086  5ef988a4349901f48bf647f7 2020-11-29  0  0  0   0   0   0
41496  5f0562b20ea3f08eb26e529f 2020-11-29  0  0  0   0   0   0
49540  5faa6b6eabf8500afc3dff56 2020-11-29  0  0  0   0   0   0

[49541 rows x 8 columns]

In [41]:
symp_dict = {
    '2': 'sore_throat',
    '3': 'cough',
    '4': 'shortness_breath',
    '12': 'fever',
    '14': 'limb_muscle_pain',
    '15': 'loss_of_taste_smell'
}
symptom_list = [symp for symp in symp_dict.values()]
symptom_list.append('foph')

In [42]:
def __replace_symptom(cols):
    for n, i in enumerate(cols):
        if i in symp_dict.keys():
            cols[n] = symp_dict[i]
    return cols

In [43]:
cols = grouped_df.columns.to_list()
cols = __replace_symptom(cols)
grouped_df.columns = cols

grouped_df

,userId,date,sore_throat,cough,shortness_breath,fever,limb_muscle_pain,loss_of_taste_smell
0,5ee2dddb2acfc1edcfbbb93a,2020-08-09,0,0,0,0,0,0
18743,5ef4cb4aee64c7deca5b8d7d,2020-08-09,0,0,0,0,0,0
25727,5ef9d95a349901f48bf8d6c6,2020-08-09,0,0,0,0,0,0
33050,5efce61a349901f48b0688e5,2020-08-09,0,0,0,0,0,0
38685,5f02f8270ea3f08eb25cb17f,2020-08-09,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
41464,5f05616e0ea3f08eb26e50ec,2020-11-29,0,0,0,0,0,0
6317,5ef1b632ee64c7deca4f432c,2020-11-29,0,0,0,0,0,0
24086,5ef988a4349901f48bf647f7,2020-11-29,0,0,0,0,0,0
41496,5f0562b20ea3f08eb26e529f,2020-11-29,0,0,0,0,0,0
49540,5faa6b6eabf8500afc3dff56,2020-11-29,0,0,0,0,0,0

In [44]:
def __calc_foph(row):
    if row.fever == 1 or row.cough == 1 or row.shortness_breath == 1 or row.sore_throat == 1 or row.loss_of_taste_smell == 1:
        foph = 1
    else:
        foph = 0

    return foph

In [45]:
grouped_df['foph'] = grouped_df.apply(__calc_foph, axis = 1)

In [46]:
grouped_df

,userId,date,sore_throat,cough,shortness_breath,fever,limb_muscle_pain,loss_of_taste_smell,foph
0,5ee2dddb2acfc1edcfbbb93a,2020-08-09,0,0,0,0,0,0,0
18743,5ef4cb4aee64c7deca5b8d7d,2020-08-09,0,0,0,0,0,0,0
25727,5ef9d95a349901f48bf8d6c6,2020-08-09,0,0,0,0,0,0,0
33050,5efce61a349901f48b0688e5,2020-08-09,0,0,0,0,0,0,0
38685,5f02f8270ea3f08eb25cb17f,2020-08-09,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
41464,5f05616e0ea3f08eb26e50ec,2020-11-29,0,0,0,0,0,0,0
6317,5ef1b632ee64c7deca4f432c,2020-11-29,0,0,0,0,0,0,0
24086,5ef988a4349901f48bf647f7,2020-11-29,0,0,0,0,0,0,0
41496,5f0562b20ea3f08eb26e529f,2020-11-29,0,0,0,0,0,0,0
49540,5faa6b6eabf8500afc3dff56,2020-11-29,0,0,0,0,0,0,0

In [68]:
def get_pos_ratio(symp):

    ratio_series = []
    for date in grouped_df['date'].unique():
        date_df = grouped_df[grouped_df['date'] == date]

        try:
            negatives, positives = date_df[symp].value_counts()
            ratio = positives / (positives + negatives)
            ratio = round(ratio, 4)
        except ValueError:
            ratio = 1.0

        ratio_series.append(ratio)
        
    return ratio_series

In [69]:
grouped_df['date'].unique()

array(['2020-08-09T00:00:00.000000000', '2020-08-16T00:00:00.000000000',
       '2020-08-23T00:00:00.000000000', '2020-08-30T00:00:00.000000000',
       '2020-09-06T00:00:00.000000000', '2020-09-13T00:00:00.000000000',
       '2020-09-20T00:00:00.000000000', '2020-09-27T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-10-11T00:00:00.000000000',
       '2020-10-18T00:00:00.000000000', '2020-10-25T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2020-11-08T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2020-11-22T00:00:00.000000000',
       '2020-11-29T00:00:00.000000000'], dtype='datetime64[ns]')

In [70]:
ratio_df = pd.DataFrame()
ratio_df['date'] = grouped_df['date'].unique()

for symp in symptom_list:
    ratio_df[symp] = get_pos_ratio(symp)

In [71]:
ratio_df

,date,sore_throat,cough,shortness_breath,fever,limb_muscle_pain,loss_of_taste_smell,foph
0,2020-08-09,0.0379,0.0248,0.0045,0.0035,0.0197,0.0048,0.0503
1,2020-08-16,0.0255,0.0174,0.0028,0.0039,0.0120,0.0039,0.0340
2,2020-08-23,0.0270,0.0160,0.0020,0.0016,0.0078,0.0029,0.0336
3,2020-08-30,0.0284,0.0171,0.0004,0.0031,0.0125,0.0027,0.0382
4,2020-09-06,0.0343,0.0202,0.0022,0.0054,0.0188,0.0047,0.0484
5,2020-09-13,0.0417,0.0242,0.0029,0.0029,0.0172,0.0044,0.0520
6,2020-09-20,0.0409,0.0304,0.0053,0.0015,0.0150,0.0045,0.0530
7,2020-09-27,0.0393,0.0303,0.0029,0.0025,0.0162,0.0047,0.0523
8,2020-10-04,0.0398,0.0270,0.0034,0.0034,0.0154,0.0026,0.0555
9,2020-10-11,0.0444,0.0344,0.0036,0.0047,0.0222,0.0047,0.0609
10,2020-10-18,0.0435,0.0332,0.0055,0.0031,0.0205,0.0048,0.0592
11,2020-10-25,0.0594,0.0414,0.0075,0.0054,0.0255,0.0092,0.0804
12,2020-11-01,0.0617,0.0461,0.0082,0.0065,0.0323,0.0134,0.0849
13,2020-11-08,0.0666,0.0501,0.0105,0.0094,0.0415,0.0193,0.0960
14,2020-11-15,0.0564,0.0493,0.0109,0.0063,0.0387,0.0192,0.0853
15,2020-11-22,0.0515,0.0433,0.0088,0.0077,0.0378,0.0189,0.0825
16,2020-11-29,0.0482,0.0401,0.0097,0.0073,0.0389,0.0130,0.0745

In [ ]:
x = list(range(len(ratio_df['date'])))